img{
    display: block;
    width: 100%;
}
.offer__slider {
    max-width: 600px;
    max-height: 400px;
    margin: 50px auto 0px;
    padding: 0 10px;
}
.offer__slider-counter {
    display: flex;
    align-items: flex-end;
   justify-content: flex-end;
   gap: 10px;
}
.current{
    font-size: 30px;
}
.total{
    font-size: 20px;
}
.offer__slider-prev, .offer__slider-next {
    display: flex;
    width: 50px;
    height: 30px;
    cursor: pointer;
}
/* .offer__slider-prev:active{scale: 0.9;} */
/* .offer__slider-next:active{scale: 0.9;} */
.offer__slider-wrapper {
    margin-top: 10px;
    position: relative;
}
.offer__slide {
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
    position: absolute;
}
.offer__slide-img {
    border-radius: 20px;
    border: 1px solid #00000044;
}

